<div class="modal" id="@IdConferma">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@Titolo</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
        </div>
        <div class="modal-body">
            @Messaggio
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" @onclick="OnSi">Si</button>
            <button type="button" class="btn btn-default" data-bs-dismiss="modal" >No</button>
        </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string IdConferma { get; set; }

    [Parameter]
    public string Titolo { get; set; }

    [Parameter]
    public string Messaggio { get; set; }

    [Parameter]
    public EventCallback OnSi { get; set; }
}
